<!-- *ngIf="!miniClass" -->
<header class="auth" >
<b class="text-light" routerLink="login">بث مباشر</b>
<b class="text-light" routerLink="register">تريند</b>
<!-- <div class="centered" *ngIf="!miniClass">
  <img src="./assets/icons/logo.png" routerLink="home">
</div> -->
</header>
<!-- Navbar -->
<!-- <div class="banner"> -->
    <nav class="navbar navbar-expand-lg border-bottom">
        <!-- Container wrapper -->
        <div class="container-fluid ">
          <button
            class="navbar-toggler"
            type="button"
            (click)="basicNavbar.toggle()"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
          <i class="fa fa-sliders text-warning" ></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div
            class="justify-content-center collapse navbar-collapse "
            id="navbarSupportedContent"
            mdbCollapse
            #basicNavbar="mdbCollapse"
          >
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" routerLink="home">الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="about">سياسة</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="contact">حوادث</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="coact">طقس</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white"routerLink="offers">رياضة</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="reviews">إقتصاد</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="paners">فن</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="partners">تحقيقات</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link text-white" routerLink="login" *ngIf="miniClass">بث مباشر</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="register" *ngIf="miniClass">تريند</a>
              </li> -->
            
      
    </ul>
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- <div class="centered" *ngIf="miniClass">
        <img src="./assets/icons/logo.png">
    </div> -->
    <!-- <div class="underNav" *ngIf="!miniClass">
<div class="bottom-left">
  <h4 class="text-light">Lorem ipsum, dolor sit amet consectetur.</h4>
  <h1><span class="text-light">The </span><span class="text-warning">Mountain View Hyde Park</span></h1>

</div>
    </div>
</div> -->
  <!-- Navbar -->
 